html {
    border-style: none;
    border-width: 0px;
}

body {
    margin: 0;
}

* {
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    font-family: 'Roboto', sans-serif;
    color: #f9faf8;
}

.hero {
    background-color: #1F2937;
    height: 100vh;
    width: 100;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 15px;   
}

.header-left {
    font-size: 24px;
    color: #f9faf8;
}

.header-right {
    display: flex;
    gap: 10px;
}

:hover.header-item {
    color: #3882f6;
}

.header-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.h1-1 {
    font-size: 18px;
    color: lightgrey;
    text-align: left;
}

.header-button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    padding: 2px 10px 2px 10px;
}

:hover.header-button {
    background-color: #1F2937;
    border-color: white;
}

.header-image {
    width: 100%;
    height: 75%;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    align-self: center;
    justify-self: center;
    border-color: #3882f6;
    border-radius: 25px;
    border-width: 3px;
   object-fit: cover;
    background-color: #1F2937;

}


.header-center {
    display: flex;
    height: 75%;
    margin-top: auto;
    margin-bottom: auto;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    gap: 40px;
    padding-top: 5%;
    padding-bottom: 15%;


}

.header-center-left, .header-center-image {
    display: inline-flexbox;
    flex: 1;
    justify-content: center;
    align-items: center;

}

.header-center-left {
    margin-top: auto;
    margin-bottom: auto;
    height: 90%;

}

.information {
    margin-top: 50px;
    margin-bottom: 50px;  
}

.info-img {
    height: 150px;
    width: 100px;
    border-radius: 10%;
    border-color: #3882f6;
    object-fit: cover;
}

.information-top {
    text-align: center;
}

h2 {
    color: #1F2937;
}

p, .information-1 {
    color: darkgrey;
    text-align: center;
}

.information-bottom {
    display: flex;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    gap: 20px;
    justify-content: center;

}

.quote-div {
    background-color: #e5e7eb;
}

.quote {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 50px;
   
}

.quote-bottom {
    text-align: right;
}

h4, h3 {
    margin: 0;
}

.quote-quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.thor {
    color: #1F2937;
    font-weight: bold;
}
.cta {
    display: flex;
    width: 80%;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color:#3882f6;
    border-radius: 5px;
}

.cta-text {
    text-align: left;
    color: white;
    font-weight: bolder;
    padding-left: 30px;
    margin-bottom: 0;
    
}

.cta-text-2 {
    text-align: left;
    color: white;
    padding-left: 30px;
    margin-top: 0;
    font-size: smaller;
}

.cta-left {
    flex: 3;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;


}

.cta-right {
    display: flex;
    flex: 1;
    
}

.su-button {
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    background-color: #3882f6;
    border-color: white;
    border: 2px;
    border-style: solid;
    border-radius: 15%;
    padding: 3px 15px 3px 15px;
}

